* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: #fff;
  margin-top: 4rem;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

h1 {
  font-size: 56px;
}

.input-container {
  display: flex;
  width: 100%;
  /* background-color: #454545; */
}

.inputTask {
  padding: 1rem;
  border: none;
  border-radius: 1rem 0rem 0rem 1rem;
  font-size: 16px;
  width: 280px;
}

.inputTaskBtn {
  padding: 1rem;
  border: none;
  border-radius: 0rem 1rem 1rem 0rem;
  background-color: #252525;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.2s;
}

.inputTaskBtn:hover {
  filter: brightness(150%);
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.checked {
  text-decoration: line-through;
}

.remove {
  cursor: pointer;
}

.clear {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  align-self: flex-end;
  font-size: 16px;
  cursor: pointer;
  display: none;
}
